.file {
  display: none;
}

.label {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.img {
  width: 100%;
  max-width: 480px;
  height: 100%;
  max-height: 160px;

  object-fit: cover;
  object-position: 50% 50%;
}

.container {
  display: grid;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.containerButton {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  width: 100%;
}
