.DropdownMenuItem {
  cursor: pointer;

  display: flex;
  gap: 6px;
  align-items: center;

  outline: none;
  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-info-700);
    outline-offset: 2px;
  }
}
