.iconMenu {
  width: 24px;
  height: 24px;
}
.icon {
  width: 16px;
  height: 16px;
}
.description {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
}

.link {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: var(--color-light-100);
  }
  &:active {
    color: var(--color-light-100);;
  }

}
