.container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;

  display: flex;
  justify-content: space-between;
  padding: 12px 136px;
  border-bottom: 1px solid var(--color-dark-500);
  background: var(--color-dark-700);
}
