.card {
  position: absolute;
  z-index: 999;
  top: 50px;
  left: -5px;

  width: 420px;
  height: 408px;
  padding: 35px;
}

.title {
  margin: 0 auto 25px;
}

.checkEmail {
  width: 96px;
  height: 96px;
}

.information {
  margin: 25px 0 65px;
  color: var(--color-dark-100);
  text-align: center;
}
