.table {
  border-bottom: 1px solid var(--color-dark-500);
  border-left: 1px solid var(--color-dark-500);
  border-right: 1px solid var(--color-dark-500);
  border-collapse: collapse;

  text-align: left;
}

.th {
  padding: 6px 24px;
  background: var(--color-dark-500);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
}

.td {
  border-bottom: 1px solid var(--dark-500);
  padding: 6px 24px;
  width: 201px;
  height: 36px;

  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
}
