.card {
  padding: 35px 35px 60px 35px ;
  width: 100%;
  max-width: 420px;
}
.form {
  width: 100%;
  margin-top: 50px;
  &:focus-visible {
    outline: 2px solid var(--color-info-700);
    outline-offset: 2px;
  }
}

.notificationText {
  color: var(--color-dark-100);
  margin: 20px 0 40px;
}

.input {
  width: 100%;
}

.button {
  margin-top: 60px;
}
