@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

.dark {
  color: var(--color-light-100);
}

.light {
  color: var(--color-dark-900);
}

.h1 {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-bold));
}

.h2 {
  @include typography(var(--font-size-xl), var(--line-height-l), var(--font-weight-bold));
}

.h3 {
  @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
}

.h4 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.body1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
}

.subtitle1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.body2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));
}

.subtitle2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-bold));
}

.overline {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-bold));
}

.caption {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
}

.link1{
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));
  cursor: pointer;
  text-decoration: underline;
  &:visited {
    color: var(--color-info-500);
  }
  &:focus-visible {
    outline: 2px solid var(--color-info-700);
    outline-offset: 2px;
    border-radius: 2px;
  }
}

.link2,
.link3{
  cursor: pointer;
  text-decoration: underline;
  &:visited {
    color: var(--color-info-500);
  }
  &:focus-visible {
    outline: 2px solid var(--color-info-700);
    outline-offset: 2px;
    border-radius: 2px;
  }
}
.link2{
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
}

.link3 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));

}

.error {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
  color: var(--color-danger-300);
}
