.container {
  position: fixed;
  z-index: 9;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 12px 136px;

  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
}

.img {
  object-fit: cover;
  object-position: 50% 50%;
  height: 36px;
  width: 160px;
}

.userContainer {
  display: flex;
  gap: 14px;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 40px;
  color: var(--color-accent-300);
  line-height: var(--line-height-m);
  margin: 5px;
}

header.container p {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-accent-300);
  border-bottom: 3px dashed var(--color-accent-300);
}

.link {
  &:focus-visible {
    border-radius: 5px;
    outline: 2px solid var(--color-info-700);
    outline-offset: 2px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 8px 60px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 8px 30px;
  }
  .title {
    font-size: 30px;
  }
  header.container p {
    font-size: 12px;
  }
  .image {
    height: 26px;
    width: 140px;
  }
}

@media (max-width: 576px) {
  .container{
    padding: 8px 10px;
  }
  .title {
    font-size: 20px;
  }
  .image {
    height: 20px;
    width: 120px;
  }
}

