.settingsBlock,
.paginationsettings {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  width: 100%;
  margin: 50px 0;
}

.error {
  padding: 10px;

  color: var(--color-danger-500);
  text-align: center;

  background-color: var(--color-light-100);
  border: 5px solid var(--color-danger-500);
  border-radius: 25px;
}
