.card {
  width: 100%;
  max-width: 420px;
  margin: 24px auto 0;
  padding: 35px 35px 60px;
}

.form {
  width: 100%;
  margin-top: 50px;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
    outline-offset: 2px;
  }
}

.notificationText {
  margin: 20px 0 40px;
  color: var(--color-dark-100);
}

.input {
  width: 100%;
}

.button {
  margin-top: 60px;
}
